<p id="notice"><%= notice %></p>

<p>
  <strong>Dateinvoice:</strong>
  <%= @invoice.dateinvoice %>
</p>

<p>
  <strong>Noteinvoice:</strong>
  <%= @invoice.noteinvoice %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
