<p id="notice"><%= notice %></p>

<p>
  <strong>Identitynumber:</strong>
  <%= @client.identitynumber %>
</p>

<p>
  <strong>Nameclient:</strong>
  <%= @client.nameclient %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @client.mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
