<p id="notice"><%= notice %></p>

<h1>Listing Testboots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testboots.each do |testboot| %>
      <tr>
        <td><%= testboot.name %></td>
        <td><%= link_to 'Show', testboot %></td>
        <td><%= link_to 'Edit', edit_testboot_path(testboot) %></td>
        <td><%= link_to 'Destroy', testboot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testboot', new_testboot_path %>
