<%= form_for(@invoicedetail) do |f| %>
  <% if @invoicedetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoicedetail.errors.count, "error") %> prohibited this invoicedetail from being saved:</h2>

      <ul>
      <% @invoicedetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
